@font-face {
    font-family: 'SFFedora_Italic';
    src: url('../../fonts/sf_fedora/SF\ Fedora\ Titles\ Italic.ttf') format('truetype'); /* ou .woff, .otf, etc */
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFFedora';
    src: url('../../fonts/sf_fedora/SF\ Fedora.ttf') format('truetype'); /* ou .woff, .otf, etc */
    font-weight: normal;
    font-style: normal;
}

.carta-modal{
    font-family: 'SFFedora_Italic', sans-serif;
        border: 5px solid #000000;

}

.modal-header,
.modal-footer {
  border: none;
}

.modal-title{
    font-family: 'SFFedora', sans-serif;
    font-size: 30px;
}

.tipo_stand{
    font-family: "SFFedora";
}

.tipo{
    font-size: 20px;
}

canvas{
    margin-top: 30px;
    margin-bottom: 30px;
}

.img_stand{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.titulohab{
    font-family: "SFFedora";
}

.habs{
    font-size: 20px;
}

.hab{
    font-size: 30px;
}

.parte{
    width: 200px;
    height: auto;
}