@font-face {
    font-family: 'SFFedora';
    src: url('../../fonts/sf_fedora/SF\ Fedora.ttf') format('truetype'); /* ou .woff, .otf, etc */
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    border: 0;
}

main{
    background: url("../../img/Giorno\ Sem\ fundo.png"), url("../../img/background_fundo\ 2.jpg");
    background-repeat: no-repeat, repeat-x;
    background-size: contain, auto 100%;
    background-position: center left;
    animation: moverFundo 10s linear infinite;
    height: 100vh;
    font-family: 'SFFedora', sans-serif;

}

@keyframes moverFundo {
    0% {
        background-position: center left, 0% bottom;
    }
    100% {
        background-position: center left, 100% bottom;
    }
}

@keyframes aparecerForm {
    0% {
        opacity: 0;
        transform: translateX(200px); /* vem da direita */
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    text-align: center;     
    position: fixed;
    margin-right: 10%;
    right: 0;
    height: 100vh;
    width: 65vh;
    padding: 5%;
    /* background: rgba(0,0,0,0.6); */
    /* background: #000000; */
    background: linear-gradient(180deg, rgba(46, 48, 147, 0.8) 0%, rgba(39, 30, 61, 0.8) 50%);
    color: white;
        animation: aparecerForm 0.8s ease-out;
}

.logar{
        padding: 10px 20px;
        background-color: #6f42c1;
        color: white;
        border: none;
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        cursor: pointer;
        margin-top: 10px;
        margin-bottom: 20px;
        transition: all 0.3s ease;
}

.logar:hover {
    background-color: #5936a6;
    transform: scale(1.05);
}

.inputlogin{
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    padding: 10px 20px;
    margin: 20px;
    border: 2px solid transparent;
    outline: none;
    transition: border 1s ease, box-shadow 0.3s ease; 
}


.inputlogin:focus {
    border: 2px solid #6f42c1;
    box-shadow: 0 0 10px #6f42c1;
    background-color: rgba(255, 255, 255, 0.05);
}

.form img {
    width: 200px;
    max-width: 80%;
    margin-bottom: 20px;
    filter: drop-shadow(0 0 8px rgba(111, 66, 193, 0.7)); /* sombra roxa suave */
    transition: transform 0.3s ease;
}

.form img:hover {
    transform: scale(1.05) rotate(-1deg); /* animação sutil ao passar o mouse */
}

.form a{
    color: #6f42c1;;
}

.form a:hover{
    color: #5936a6;
}



